@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
body {
  background: linear-gradient(
    to bottom right,
    #c42e6d,
    #e49c28
  ); /* Gradient background from blue to purple */
  color: #fff; /* White text color */
  font-family: "Comfortaa";
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 50%;
  min-height:50%;
  flex-direction: column;
}

.purple-circle {
  background-color: #3b2e58; /* Purple color for the circle */
  width: 700px; /* Adjust the width as needed */
  height: 700px; /* Adjust the height as needed */
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px; /* Adjust as needed */
}
.gold-circle {
  background-color: #e49c28; /* Purple color for the circle */
  width: 670px; /* Adjust the width as needed */
  height: 670px; /* Adjust the height as needed */
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 0px; /* Adjust as needed */
}
.purple-circle2 {
  background-color: #3b2e58; /* Purple color for the circle */
  width: 660px; /* Adjust the width as needed */
  height: 660px; /* Adjust the height as needed */
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 0px; /* Adjust as needed */
}

.golden-rim {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.7); /* Golden rim inside the circle */
  position: absolute;
  z-index: -1; /* Place the golden rim behind the content */
}

.question-mark {
  width:70px;
  height:70px;
  position: absolute;
  right: 1%;
  top: 3%;
  border-radius:50%;
  background-color:#3b2e58;
  border:4.5px;
  border-style:solid;
  border-color:#1e143500;
  transition: 0.2s ease;
}
.howtoplay{
  font-size:45px;
  text-decoration: inherit;
  text-align: center;
  justify-content: center;
  display: flex;
  color:#e49c28;
  position: absolute;
  top:9px;
  left:13px;
  font-weight:bold;
  text-shadow: 1px 3px 3px rgba(0,0,0,0.5);
  transition: 0.2s ease;
}
.question-mark:hover{
  border-color:#3b2e58;
  background-color: #e49c28;
  cursor: pointer;
}
.question-mark:hover  .howtoplay{
  color:#3b2e58;
}

.back-button {
  width:70px;
  height:70px;
  position: absolute;
  left: 1%;
  top: 3%;
  border-radius:50%;
  background-color:#3b2e58;
  border:4.5px;
  border-style:solid;
  border-color:#1e143500;
  transition: 0.2s ease;
}
.back{
  font-size:70px;
  text-decoration: inherit;
  text-align: center;
  justify-content: center;
  display: flex;
  color:#e49c28;
  position: absolute;
  top:-4px;
  left:-2px;
  font-weight:bold;
  text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
  transition: 0.2s ease;
}
.back-button:hover{
  border-color:#3b2e58;
  background-color: #e49c28;
  cursor: pointer;
}
.back-button:hover  .back{
  color:#3b2e58;
}

.skrew-header{
  font-size: 6em; /* Adjust the font size as needed */
  justify-content: center;
  display:flex;
  align-items: center;
  color: #e3992c;
  position: absolute;
  margin: 0;
  top:30%;
  text-shadow: 1px 3px 3px rgba(0,0,0,0.5);
  user-select: none;
  font-weight:bold;
  z-index: 1; /* Place text above the circle */
}
footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 0.8em;
}

/*join button*/
.join-button{
  border-radius: 20px;
  width:30%;
  height:12%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top:65%;
  left:15%;
  background-color: #e3992c;
  font-size: 45px;
  color: #3b2e58;
  border:2px;
  border-color:#1e1435;
  border-style:solid;
  text-shadow: 1px 3px 3px rgba(0,0,0,0.2);
  cursor:pointer;
  font-weight: bold;
  font-family: "Comfortaa";
  transition: all 0.2s ease;
}
.join-button:hover{
  background-color: #1e1435;
  color: #e49c28;
  border-color:#e49c28;
}

/*create button*/
.create-button{
  border-radius: 20px;
  width:30%;
  height:12%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top:65%;
  right:15%;
  background-color: #e3992c;
  font-size: 45px;
  color: #3b2e58;
  border:3px;
  border-color:#1e1435;
  border-style:solid;
  cursor:pointer;
  font-weight: bold;
  font-family: "Comfortaa";
  transition: all 0.2s ease;
}
.create-button:hover{
  background-color: #1e1435;
  color: #e49c28;
  border-color:#e49c28;
}


/*Name input*/
.Name-Input{
  top:50%;
  position: absolute;
  width:400px;
  height:50px;
  border-radius:80px;
  font-size:35px;
  background-color:#1e1435;
  border:2px;
  border-color:#e3992c;
  border-style:solid;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.2s ease;
}
.Name-Input:hover{
  border: 2px solid #e49c28;
  border-color: #e49c28;
  box-shadow: 0 0 10px #e49c28;
}
.Name-Input:focus{
  border: 2px solid #e49c28;
  border-color: #e49c28;
  box-shadow: 0 0 10px #e49c28;
  outline:None;
  
}



/*-------------How to play page------------*/
.howtoplay-header{
  font-size:5em;
  top:-300px;
  display:center;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
  text-shadow: 1px 3px 3px rgba(0,0,0,0.5);
  
}
.prev-slide{
  border-radius:50%;
  background-color:#3b2e58;
  position: relative;
  left:-15%;
}
.prev-slide img{
  width:50px;
  height:50px;
  position:relative;
  border-radius: 20px;
  display:flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.next-slide{
  width:80px;
  height:80px;
  position:absolute;
  border-radius: 20px;
  top:56.5%;
  right:5%;
  background-color:white;
  display:flex;
  align-items: center;
  justify-content: center;

}
.slides-container{
  width:60%;
  height:70%;
  margin-left:auto;
  margin-right:auto;
  top:25%;
  left:20%;
  position: absolute;
  background-color: #3b2e58;
  border-radius: 30px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.introduction{
  width:900px;
  height:50px;
  background-color:white;
  position:relative;
}
.objective{
  width:50px;
  height:50px;
  background-color:black;
  position:relative;
}
.rules{
  width:50px;
  height:50px;
  background-color:gray;
  position:relative;
}
.cards{
  width:50px;
  height:50px;
  background-color:yellow;
  position:relative;
}
.slides{
  display:flex;
  overflow-x:auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}